body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
      
  background-color: #ffffff;
}
img { max-width: 100%; }
a { text-decoration: none; }
html { box-sizing: border-box; }


.button {
  display: block;
  padding: 13px 0;

  font: inherit;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus { background-color: #e74246; }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #eeeeee;
}

.navigation .container,
.site-navigation,
.cart-link {
  display: flex;
  justify-content: space-between;
}

.navigation .container {
  padding-top: 48px;
  padding-bottom: 18px;
}

.cart-link {
  width: 115px;
  margin-left: 45px;
}

.navigation a {
  font: inherit;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.index-logo:hover,
.index-logo:focus { opacity: 0.8; }

.index-logo:active { opacity: 0.3; }

.site-navigation { 
  width: 438px;
}

.site-navigation,
.user-navigation { 
  list-style: none; 
  margin-top: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus { color: #fb565a; }

.site-navigation a:active,
.user-navigation a:active { color: rgba(0, 0, 0, 0.3); }

.navigation .current { 
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

 /* Index */

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 54px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% -6px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-item .button {
  width: 240px;
}

.products { 
  margin-top: 79px;
  border-bottom: 2px solid #eeeeee;
}

.products-list { 
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item {
  flex: 0 0 300px;
  min-height: 350px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.products-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 20px;
}

.products-item .button {
  width: 160px;
  margin-top: 31px;
}

.btn-application { background-color: #00ca74; }

.btn-application:hover,
.btn-application:focus { background-color: #00bc6c; }

.btn-application:active { background-color: #00aa62; }

.btn-presentation { background-color: #efc84a; }
.btn-presentation:hover { background-color: #eab534; }
.btn-presentation:active { background-color: #e5a722; }

.features .container { 
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.features-left {
  width: 650px;
  padding-bottom: 105px;
}

.features-right {
  width: 360px;
  padding-top: 35px;
}

.features-slogan {
  font-size: 45px;
  font-weight: 500;
  line-height:  45px;
  margin-top: 71px;
  margin-bottom: 32px;
}

.features-orders {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 41px;
  margin-bottom: 25px;
}

.features-table-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.features .table-date {
  font-size: 45px;
  font-weight: 700;
}

.portfolio .container { 
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 79px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; 
  padding-left: 31px;
  padding-right: 31px;
  margin-top: 45px;
  margin-bottom: 37px;
}

.portfolio-item a { opacity: 0.2; }
.portfolio-item a:hover { opacity: 1; }
.portfolio-item a:active { opacity: 0.1; }

.footer {
  background-image: url("../img/map.jpg");
  background-size: 1440px auto;
  background-position: top center;
  background-repeat: no-repeat; 
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.contacts-wrapper,
.social-wrapper {
  display: flex;
}
.contacts-text {
  background-color: #ffffff;
  width: 270px;
  padding-top: 51px;
  padding-left: 50px;
  padding-bottom: 45px;
  margin-right: 360px;
  margin-bottom: 110px;
}

.contacts-title {
  font-size: 18px;
  margin: 0;
}
.contacts-address {
  color: #666666;
  line-height: 18px;

  margin-top: 25px;
  margin-bottom: 37px;

}

.contacts-text .button {
  width: 219px;
}

.contacts-map-marker {
  margin-top: 34px;
}

.social-list { 
  display: flex;
  justify-content: space-between;
  list-style: none; 
  width: 260px;
  padding: 0;
  margin-right: 140px;
}

.social-item {
  border-radius: 50%;
  background-color: #e1e1e1;
} 

.social-item img {
  display: block;
  margin: 25px;
} 



.social-item:hover { background-color: #e74246; }

.social-item:active img {
  opacity: 0.3;
  background-color: #d7373b;
}

.social-slogan {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding-top: 28px;
 }

.social-sale {
  color: #444444;
}
 .modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

 /* Catalog */

.header-text {
  width: 730px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 123px;

  font-size: 55px;
  font-weight: 500;
  letter-spacing: 0.10px;
}

main.container {
  display: flex;
  justify-content: space-between;
}

form.filter {
  width: 260px;
  padding-top: 58px;
}

.filter label {
  color: #283136;
}

.filter-price {
  margin: 0;
  padding: 0;
  
  border: none;
}

.filter-price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.60px;

}

.range-filter {
  width: 260px;
  margin-top: 51px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  margin-left: 0; 
  width: 70%;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  padding-top: 2px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 8px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-grid {
  margin-top: 58px;
  padding: 0;
  
  border: none;
}

.filter-grid legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05px;

}

.filter-grid-list {
  list-style: none;
  padding: 0;
}

.filter-features {
  margin-top: 30px;
  padding: 0;
  
  border: none;
}

.filter-features legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05px;
}

.filter-features-list {
  list-style: none;
  padding: 0;
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
  margin-top: 15px;
}

.filter button {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
}

.filter button:hover,
.filter button:focus { background-color: #dfdfdf; }

.filter button:active { background-color: #d5d5d5; }

.catalog {
  width: 760px;
  padding-top: 56px;
}

.catalog-sorting,
.sorting-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.catalog-sorting {
  padding-bottom: 36px;
}
.sorting-list {
  width: 360px;
  margin: 0;
}

.sorting-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-button {
  font-size: 14px;
  color: #000000;
  opacity: 0.3; 
  text-transform: uppercase;
}

.sorting-button:hover,
.sorting-button:focus { opacity: 0.6; }

.sorting-button:active,
.sorting-list-item .current { opacity: 1; }

.sorting-list,
.catalog-list { list-style: none; }

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
}

.catalog-item img {
  display: block;
}

.catalog-list li:nth-child(2n+1) {
  padding-right: 40px;
  padding-bottom: 33px;
}

.browser-hover {
  position: absolute;
  display: none;
}

.catalog-item-price {
  position: absolute;
  display: none; 
}

.catalog-item-browser { opacity: 0.12; }

.site-title a {
  font: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
 }

.site-title a:hover,
.site-title a:focus { color: #fb565a; }

.site-title a:active { color: rgba(0, 0, 0, 0.3); }

.site-text {
  line-height: 18px;
  color: #666666;
}

.catalog-item-price .button:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  margin-top: 27px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  min-width: 44px;
  height: 44px;
  margin-right: 11px;

  border: 3px solid  #eeeeee;
  border-radius: 3px;
}

.pagination-item .next {
  padding-left: 75px;
  padding-right: 75px;
}

.pagination-item .button {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a.current { background-color: #ffffff; }

.pagination-item a:hover,
.pagination-item a:focus { background-color: #dfdfdf; }

.pagination-item a.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
 }