body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
      
  background-color: #ffffff;
}
img { max-width: 100%; }
a { text-decoration: none; }
html { box-sizing: border-box; }

.button {
  font: inherit;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus { background-color: #e74246; }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.header,
.slider { background-color: #eeeeee; }

.navigation a {
  font: inherit;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.index-logo:hover,
.index-logo:focus { opacity: 0.8; }

.index-logo:active { opacity: 0.3; }

.site-navigation,
.user-navigation { list-style: none; }

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus { color: #fb565a; }

.site-navigation a:active,
.user-navigation a:active { color: rgba(0, 0, 0, 0.3); }

.navigation .current { border-bottom: 1px solid red; }

.slide-slogan features-slogan
.products-list { list-style: none; }

.products-title {
  font-weight: 700;
  text-transform: uppercase;
}

.btn-application { background-color: #00ca74; }

.btn-application:hover,
.btn-application:focus { background-color: #00bc6c; }

.btn-application:active { background-color: #00aa62; }

.btn-presentation { background-color: #efc84a; }
.btn-presentation:hover { background-color: #eab534; }
.btn-presentation:active { background-color: #e5a722; }

.features-slogan {
  font-size: 45px;
  font-weight: 500;
  line-height:  45px;
}

.features-orders {
  font-weight: 700;
  text-transform: uppercase;
}

.features-table-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.features .table-date {
  font-size: 45px;
  font-weight: 700;
}
.portfolio-list { list-style: none; }

.portfolio-item a { opacity: 0.2; }
.portfolio-item a:hover { opacity: 1; }
.portfolio-item a:active { opacity: 0.1; }

.social { list-style: none; }

.social-item {
  height: 80px;
}

.social-button {
  font-size: 40px;
  background-color: #e1e1e1;
}

.social-button:hover { background-color: #e74246; }

.social-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d7373b;
}

.social-slogan {
  font-size: 36px;
  font-weight: 700;
 }

 .modal {
  display: none;
}

.visually-hidden {
  display: none;
}

 /* Catalog */

.header-text {
  font-size: 55px;
  font-weight: 500;
}

.filter-price,
.filter-grid,
.filter-features,
.sorting-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
 }
 .filter label {
  color: #283136;
 }

.filter button {
  color: #000000;
  background-color: #eeeeee;
}

.filter button:hover,
.filter button:focus { background-color: #dfdfdf; }

.filter button:active { background-color: #d5d5d5; }

.sorting-button {
  font-size: 14px;
  color: #000000;
  opacity: 0.3; 
  text-transform: uppercase;
}

.sorting-button:hover,
.sorting-button:focus { opacity: 0.6; }

.sorting-button:active,
.sorting-list-item .current { opacity: 1; }

.sorting-list,
.catalog-list,
.pagination-list { list-style: none; }

.catalog-item-browser { opacity: 0.12; }
.catalog-item-browser:hover { opacity: 1; }

.site-title a {
  font: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
 }

.site-title a:hover,
.site-title a:focus { color: #fb565a; }

.site-title a:active { color: rgba(0, 0, 0, 0.3); }

.site-text {
  line-height: 18px;
  color: #666666;
}

.catalog-item-price .button:active {
  color: #ffffff;
}

.pagination-item a.button {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a.current { background-color: #ffffff;
}

.pagination-item a.button:hover,
.pagination-item a.button:focus { background-color: #dfdfdf; }

.pagination-item a.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
 }